<div class="product-card">
  <a href="{{ product.url | within: collection }}" class="product-image-wrapper">
    <div class="swiper-container swiper-container-{{ product.id }}">
      <div class="swiper-wrapper">
        {% for image in product.images %}
          <div class="swiper-slide">
            <img src="" alt="">
          </div>
        {% endfor %}
      </div>
    </div>
  </a>
</div>