<section id="slider" class="slider-element slider-parallax revslider-wrap overflow-hidden clearfix slider-parallax-visible" style="transform: translate3d(0px, 0px, 0px);">

    <!--
    #################################
        - THEMEPUNCH BANNER -
    #################################
    -->
    <div class="forcefullwidth_wrapper_tp_banner" id="rev_slider_ishop_forcefullwidth" style="position:relative;width:100%;height:auto;margin-top:0px;margin-bottom:0px"><div id="rev_slider_ishop_wrapper" class="rev_slider_wrapper fullwidth-container tp-mouseover" data-alias="default-slider" style="padding: 0px; margin-top: 0px; margin-bottom: 0px; position: absolute; overflow: visible; height: 500px; width: 1920px; left: 0px;">
            <!-- START REVOLUTION SLIDER 5.1.4 fullwidth mode -->
        <div id="rev_slider_ishop" class="rev_slider fullwidthbanner revslider-initialised tp-simpleresponsive rev_redraw_on_blurfocus" style="max-height: 500px; margin-top: 0px; margin-bottom: 0px; height: 500px;" data-version="5.1.4" data-slideactive="rs-404018">
            <ul class="tp-revslider-mainul" style="visibility: visible; display: block; overflow: hidden; width: 100%; height: 100%; max-height: none;">    <!-- SLIDE  -->
                <li data-transition="fade" data-slotamount="1" data-masterspeed="1500" data-delay="5000" data-saveperformance="off" data-title="Latest Collections" style="background-color: rgb(246, 246, 246); width: 100%; height: 100%; overflow: hidden; z-index: 18; visibility: hidden; opacity: 0;" class="tp-revslider-slidesli">
                    <!-- LAYERS -->

                    <!-- LAYER NR. 2 -->
                    <div class="tp-parallax-wrap" style="position: absolute; display: block; visibility: hidden; left: 490px; top: 50px; z-index: 1;"><div class="tp-loop-wrap" style="position:absolute;display:block;;"><div class="tp-mask-wrap" style="position: absolute; display: block; overflow: visible;"><div class="tp-caption ltl tp-resizeme revo-slider-caps-text text-uppercase" data-x="100" data-y="50" data-transform_in="x:-200;y:0;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;s:700;e:Power4.easeOutQuad;" data-speed="400" data-start="1000" data-easing="easeOutQuad" data-splitin="none" data-splitout="none" data-elementdelay="0.01" data-endelementdelay="0.1" data-endspeed="1000" data-endeasing="Power4.easeIn" id="layer-417733923" style="visibility: inherit; transition: none 0s ease 0s; text-align: inherit; line-height: 0px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 3px; font-weight: 400; font-size: 16px; white-space: nowrap; min-height: 0px; min-width: 0px; max-height: none; max-width: none; opacity: 0.0001; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -200, 0, 0, 1); transform-origin: 50% 50% 0px;"><img src="" alt="Girl" style="width: 375px; height: 450px; transition: none 0s ease 0s; text-align: inherit; line-height: 0px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 3px; font-weight: 400; font-size: 16px;"></div></div></div></div>

                    <div class="tp-parallax-wrap" style="position: absolute; display: block; visibility: hidden; left: 960px; top: 75px; z-index: 1;"><div class="tp-loop-wrap" style="position:absolute;display:block;;"><div class="tp-mask-wrap" style="position: absolute; display: block; overflow: visible;"><div class="tp-caption ltl tp-resizeme revo-slider-caps-text text-uppercase" data-x="570" data-y="75" data-transform_in="x:0;y:150;z:0;rotationZ:0;scaleX:1.3;scaleY:1;skewX:0;skewY:0;opacity:0;s:700;e:Power4.easeOutQuad;" data-speed="700" data-start="1000" data-easing="easeOutQuad" data-splitin="none" data-splitout="none" data-elementdelay="0.01" data-endelementdelay="0.1" data-endspeed="1000" data-endeasing="Power4.easeIn" style="color: rgb(51, 51, 51); visibility: inherit; transition: none 0s ease 0s; text-align: inherit; line-height: 24px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 3px; font-weight: 400; font-size: 16px; white-space: nowrap; min-height: 0px; min-width: 0px; max-height: none; max-width: none; opacity: 0.0001; transform: matrix3d(1.3, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 150, 0, 1); transform-origin: 50% 50% 0px;" id="layer-702833144">Get your Shopping Bags Ready</div></div></div></div>

                    <div class="tp-parallax-wrap" style="position: absolute; display: block; visibility: hidden; left: 960px; top: 105px; z-index: 1;"><div class="tp-loop-wrap" style="position:absolute;display:block;;"><div class="tp-mask-wrap" style="position: absolute; display: block; overflow: visible;"><div class="tp-caption ltl tp-resizeme revo-slider-emphasis-text p-0 border-0" data-x="570" data-y="105" data-transform_in="x:0;y:150;z:0;rotationZ:0;scaleX:1.3;scaleY:1;skewX:0;skewY:0;opacity:0;s:700;e:Power4.easeOutQuad;" data-speed="700" data-start="1200" data-easing="easeOutQuad" data-splitin="none" data-splitout="none" data-elementdelay="0.01" data-endelementdelay="0.1" data-endspeed="1000" data-endeasing="Power4.easeIn" style="color: rgb(51, 51, 51); max-width: 430px; line-height: 66px; visibility: inherit; transition: none 0s ease 0s; text-align: inherit; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 1px; font-weight: 700; font-size: 58px; white-space: nowrap; min-height: 0px; min-width: 0px; max-height: none; opacity: 0.0001; transform: matrix3d(1.3, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 150, 0, 1); transform-origin: 50% 50% 0px;" id="layer-119940731">Latest Fashion<br>Collections</div></div></div></div>

                    <div class="tp-parallax-wrap" style="position: absolute; display: block; visibility: hidden; left: 960px; top: 275px; z-index: 1;"><div class="tp-loop-wrap" style="position:absolute;display:block;;"><div class="tp-mask-wrap" style="position: absolute; display: block; overflow: visible;"><div class="tp-caption ltl tp-resizeme revo-slider-desc-text text-start" data-x="570" data-y="275" data-transform_in="x:0;y:150;z:0;rotationZ:0;scaleX:1.3;scaleY:1;skewX:0;skewY:0;opacity:0;s:700;e:Power4.easeOutQuad;" data-speed="700" data-start="1400" data-easing="easeOutQuad" data-splitin="none" data-splitout="none" data-elementdelay="0.01" data-endelementdelay="0.1" data-endspeed="1000" data-endeasing="Power4.easeIn" style="color: rgb(51, 51, 51); max-width: 550px; white-space: normal; visibility: inherit; transition: none 0s ease 0s; text-align: inherit; line-height: 30px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-weight: 400; font-size: 20px; min-height: 0px; min-width: 0px; max-height: none; opacity: 0.0001; transform: matrix3d(1.3, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 150, 0, 1); transform-origin: 50% 50% 0px;" id="layer-48370317">We have created a Design that looks Awesome, performs Brilliantly &amp; senses Orientations.</div></div></div></div>

                    <div class="tp-parallax-wrap" style="position: absolute; display: block; visibility: hidden; left: 960px; top: 375px; z-index: 1;"><div class="tp-loop-wrap" style="position:absolute;display:block;;"><div class="tp-mask-wrap" style="position: absolute; display: block; overflow: visible;"><div class="tp-caption ltl tp-resizeme" data-x="570" data-y="375" data-transform_in="x:0;y:150;z:0;rotationZ:0;scaleX:1.3;scaleY:1;skewX:0;skewY:0;opacity:0;s:700;e:Power4.easeOutQuad;" data-speed="700" data-start="1550" data-easing="easeOutQuad" data-splitin="none" data-splitout="none" data-elementdelay="0.01" data-endelementdelay="0.1" data-endspeed="1000" data-endeasing="Power4.easeIn" id="layer-181203274" style="visibility: inherit; transition: none 0s ease 0s; text-align: inherit; line-height: 24px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-weight: 400; font-size: 16px; white-space: nowrap; min-height: 0px; min-width: 0px; max-height: none; max-width: none; opacity: 0.0001; transform: matrix3d(1.3, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 150, 0, 1); transform-origin: 50% 50% 0px;"><a href="#" class="button button-border button-large button-rounded text-end m-0" style="transition: none 0s ease 0s; text-align: inherit; line-height: 30px; border-width: 2px; margin: 0px; padding: 8px 26px; letter-spacing: 1px; font-weight: 700; font-size: 16px;"><span style="transition: none 0s ease 0s; text-align: inherit; line-height: 30px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 1px; font-weight: 700; font-size: 16px;">Start Shopping</span> <i class="icon-angle-right" style="transition: none 0s ease 0s; text-align: inherit; line-height: 30px; border-width: 0px; margin: 0px 0px 0px 5px; padding: 0px; letter-spacing: 1px; font-weight: 400; font-size: 16px;"></i></a></div></div></div></div>

                </li>
                <!-- SLIDE  -->
                <li data-transition="slideup" data-slotamount="1" data-masterspeed="1500" data-delay="5000" data-saveperformance="off" data-title="Messenger bags" style="background-color: rgb(233, 232, 227); width: 100%; height: 100%; overflow: hidden; z-index: 20; visibility: inherit; opacity: 1;" class="tp-revslider-slidesli active-revslide">
                    <!-- LAYERS -->

                    <div class="tp-parallax-wrap" style="position: absolute; display: block; visibility: visible; left: 1020px; top: 78px; z-index: 1;"><div class="tp-loop-wrap" style="position:absolute;display:block;;"><div class="tp-mask-wrap" style="position: absolute; display: block; overflow: visible;"><div class="tp-caption ltl tp-resizeme revo-slider-caps-text text-uppercase" data-x="630" data-y="78" data-transform_in="x:250;y:0;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;s:400;e:Power4.easeOutQuad;" data-speed="400" data-start="1000" data-easing="easeOutQuad" data-splitin="none" data-splitout="none" data-elementdelay="0.01" data-endelementdelay="0.1" data-endspeed="1000" data-endeasing="Power4.easeIn" id="layer-22823829" style="visibility: inherit; transition: none 0s ease 0s; text-align: inherit; line-height: 0px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 3px; font-weight: 400; font-size: 16px; white-space: nowrap; min-height: 0px; min-width: 0px; max-height: none; max-width: none; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform-origin: 50% 50% 0px;"><img src="" alt="Bag" style="width: 463px; height: 343px; transition: none 0s ease 0s; text-align: inherit; line-height: 0px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 3px; font-weight: 400; font-size: 16px;"></div></div></div></div>

                    <!-- LAYER NR. 2 -->
                    <div class="tp-parallax-wrap" style="position: absolute; display: block; visibility: visible; left: 390px; top: 110px; z-index: 1;"><div class="tp-loop-wrap" style="position:absolute;display:block;;"><div class="tp-mask-wrap" style="position: absolute; display: block; overflow: visible;"><div class="tp-caption ltl tp-resizeme revo-slider-caps-text text-uppercase" data-x="0" data-y="110" data-transform_in="x:0;y:150;z:0;rotationZ:0;scaleX:1.3;scaleY:1;skewX:0;skewY:0;opacity:0;s:700;e:Power4.easeOutQuad;" data-speed="700" data-start="1000" data-easing="easeOutQuad" data-splitin="none" data-splitout="none" data-elementdelay="0.01" data-endelementdelay="0.1" data-endspeed="1000" data-endeasing="Power4.easeIn" style="color: rgb(51, 51, 51); visibility: inherit; transition: none 0s ease 0s; text-align: inherit; line-height: 24px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 3px; font-weight: 400; font-size: 16px; white-space: nowrap; min-height: 0px; min-width: 0px; max-height: none; max-width: none; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform-origin: 50% 50% 0px;" id="layer-213622464">Buy Stylish Bags at Discounted Prices</div></div></div></div>

                    <div class="tp-parallax-wrap" style="position: absolute; display: block; visibility: visible; left: 390px; top: 140px; z-index: 1;"><div class="tp-loop-wrap" style="position:absolute;display:block;;"><div class="tp-mask-wrap" style="position: absolute; display: block; overflow: visible;"><div class="tp-caption ltl tp-resizeme revo-slider-emphasis-text p-0 border-0" data-x="0" data-y="140" data-transform_in="x:0;y:150;z:0;rotationZ:0;scaleX:1.3;scaleY:1;skewX:0;skewY:0;opacity:0;s:700;e:Power4.easeOutQuad;" data-speed="700" data-start="1200" data-easing="easeOutQuad" data-splitin="none" data-splitout="none" data-elementdelay="0.01" data-endelementdelay="0.1" data-endspeed="1000" data-endeasing="Power4.easeIn" style="color: rgb(51, 51, 51); line-height: 66px; visibility: inherit; transition: none 0s ease 0s; text-align: inherit; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 1px; font-weight: 700; font-size: 58px; white-space: nowrap; min-height: 0px; min-width: 0px; max-height: none; max-width: none; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform-origin: 50% 50% 0px;" id="layer-885038711">Messenger Bags</div></div></div></div>

                    <div class="tp-parallax-wrap" style="position: absolute; display: block; visibility: visible; left: 390px; top: 240px; z-index: 1;"><div class="tp-loop-wrap" style="position:absolute;display:block;;"><div class="tp-mask-wrap" style="position: absolute; display: block; overflow: visible;"><div class="tp-caption ltl tp-resizeme revo-slider-desc-text text-start" data-x="0" data-y="240" data-transform_in="x:0;y:150;z:0;rotationZ:0;scaleX:1.3;scaleY:1;skewX:0;skewY:0;opacity:0;s:700;e:Power4.easeOutQuad;" data-speed="700" data-start="1400" data-easing="easeOutQuad" data-splitin="none" data-splitout="none" data-elementdelay="0.01" data-endelementdelay="0.1" data-endspeed="1000" data-endeasing="Power4.easeIn" style="color: rgb(51, 51, 51); max-width: 550px; white-space: normal; visibility: inherit; transition: none 0s ease 0s; text-align: inherit; line-height: 30px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-weight: 400; font-size: 20px; min-height: 0px; min-width: 0px; max-height: none; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform-origin: 50% 50% 0px;" id="layer-275842019">Grantees insurmountable challenges invest protect, growth improving quality social entrepreneurship.</div></div></div></div>

                    <div class="tp-parallax-wrap" style="position: absolute; display: block; visibility: visible; left: 390px; top: 340px; z-index: 1;"><div class="tp-loop-wrap" style="position:absolute;display:block;;"><div class="tp-mask-wrap" style="position: absolute; display: block; overflow: visible;"><div class="tp-caption ltl tp-resizeme" data-x="0" data-y="340" data-transform_in="x:0;y:150;z:0;rotationZ:0;scaleX:1.3;scaleY:1;skewX:0;skewY:0;opacity:0;s:700;e:Power4.easeOutQuad;" data-speed="700" data-start="1550" data-easing="easeOutQuad" data-splitin="none" data-splitout="none" data-elementdelay="0.01" data-endelementdelay="0.1" data-endspeed="1000" data-endeasing="Power4.easeIn" id="layer-894067436" style="visibility: inherit; transition: none 0s ease 0s; text-align: inherit; line-height: 24px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-weight: 400; font-size: 16px; white-space: nowrap; min-height: 0px; min-width: 0px; max-height: none; max-width: none; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform-origin: 50% 50% 0px;"><a href="#" class="button button-border button-large button-rounded text-end m-0" style="transition: none 0s ease 0s; text-align: inherit; line-height: 30px; border-width: 2px; margin: 0px; padding: 8px 26px; letter-spacing: 1px; font-weight: 700; font-size: 16px;"><span style="transition: none 0s ease 0s; text-align: inherit; line-height: 30px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 1px; font-weight: 700; font-size: 16px;">Start Shopping</span> <i class="icon-angle-right" style="transition: none 0s ease 0s; text-align: inherit; line-height: 30px; border-width: 0px; margin: 0px 0px 0px 5px; padding: 0px; letter-spacing: 1px; font-weight: 400; font-size: 16px;"></i></a></div></div></div></div>

                    <div class="tp-parallax-wrap" style="position: absolute; display: block; visibility: visible; left: 900px; top: 0px; z-index: 1;"><div class="tp-loop-wrap" style="position:absolute;display:block;;"><div class="tp-mask-wrap" style="position: absolute; display: block; overflow: visible;"><div class="tp-caption utb tp-resizeme revo-slider-caps-text text-uppercase" data-x="510" data-y="0" data-transform_in="x:0;y:-236;z:0;rotationZ:0;skewX:0;skewY:0;opacity:0;s:700;e:Power4.easeOutQuad;" data-speed="600" data-start="2100" data-easing="easeOutQuad" data-splitin="none" data-splitout="none" data-elementdelay="0.01" data-endelementdelay="0.1" data-endspeed="1000" data-endeasing="Power4.easeIn" id="layer-434422588" style="visibility: inherit; transition: none 0s ease 0s; text-align: inherit; line-height: 0px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 3px; font-weight: 400; font-size: 16px; white-space: nowrap; min-height: 0px; min-width: 0px; max-height: none; max-width: none; opacity: 1; transform-origin: 50% 50% 0px; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);"><img src="" alt="Bag" style="width: 100px; height: 210px; transition: none 0s ease 0s; text-align: inherit; line-height: 0px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 3px; font-weight: 400; font-size: 16px;"></div></div></div></div>

                </li>
            </ul>
        <div class="tp-loader off" style="display: none;"><div class="dot1"></div><div class="dot2"></div><div class="bounce1"></div><div class="bounce2"></div><div class="bounce3"></div></div><div class="tp-bannertimer" style="visibility: hidden; width: 30.08%; transform: translate3d(0px, 0px, 0px);"></div><div class="tp-leftarrow tparrows ares" style="top: 50%; transform: matrix(1, 0, 0, 1, 10, -30); left: 0px;"><i class="fas fa-arrow-left" style="top: 16px;
            font-size: 30px;
            left: 17px;
            z-index: 100;
            position: relative;"></i><div class="tp-title-wrap" style="margin-left: 5px;">	<span class="tp-arr-titleholder">Latest Collections</span> </div></div><div class="tp-rightarrow tparrows ares" style="top: 50%; transform: matrix(1, 0, 0, 1, -70, -30); left: 75%;"><i class="fas fa-arrow-right" style="top: 16px;
            font-size: 30px;
            left: 17px;
            z-index: 100;
            position: relative;"></i><div class="tp-title-wrap">	<span class="tp-arr-titleholder">Latest Collections</span> </div></div></div>
    </div><div class="tp-fullwidth-forcer" style="width: 100%; height: 500px;"></div></div><!-- END REVOLUTION SLIDER -->

</section>



<script>
    console.log('outside')
    var tpj=jQuery;
    tpj.noConflict();
    var $ = jQuery.noConflict();

    tpj(document).ready(function() {
        console.log('box')
        var apiRevoSlider = tpj('#rev_slider_ishop').show().revolution(
        {
            sliderType:"standard",
            jsFileLocation:"../js/",
            sliderLayout:"fullwidth",
            dottedOverlay:"none",
            delay:9000,
            navigation: {},
            responsiveLevels:[1200,992,768,480,320],
            gridwidth:1140,
            gridheight:500,
            lazyType:"none",
            shadow:0,
            spinner:"off",
            autoHeight:"off",
            disableProgressBar:"on",
            hideThumbsOnMobile:"off",
            hideSliderAtLimit:0,
            hideCaptionAtLimit:0,
            hideAllCaptionAtLilmit:0,
            debugMode:false,
            fallbacks: {
                simplifyAll:"off",
                disableFocusListener:false,
            },
            navigation: {
                keyboardNavigation:"off",
                keyboard_direction: "horizontal",
                mouseScrollNavigation:"off",
                onHoverStop:"off",
                touch:{
                    touchenabled:"on",
                    swipe_threshold: 75,
                    swipe_min_touches: 1,
                    swipe_direction: "horizontal",
                    drag_block_vertical: false
                },
                arrows: {
                    style: "ares",
                    enable: true,
                    hide_onmobile: false,
                    hide_onleave: false,
                    tmp: '<div class="tp-title-wrap">	<span class="tp-arr-titleholder">{{title}}</span> </div>',
                    left: {
                        h_align: "left",
                        v_align: "center",
                        h_offset: 10,
                        v_offset: 0
                    },
                    right: {
                        h_align: "right",
                        v_align: "center",
                        h_offset: 10,
                        v_offset: 0
                    }
                }
            }
        });

        apiRevoSlider.on("revolution.slide.onloaded",function (e) {
            SEMICOLON.slider.sliderDimensions();
        });

    }); //ready

</script>

{% schema %}
    {
    
    "name": "Hero Two",
    "settings": [
        
    {
    "type": "text",
    "id": "banner_title",
    "label": "Banner Title",
    "default": "Banner Text Goes Here"
    },
    {
        "type": "color",
        "id": "banner_background_color",
        "label": "Banner Background Color",
        "default": "#ffffff"
    },
    {
        "type": "color",
        "id": "banner_text_color",
        "label": "Banner Text Color",
        "default": "#000000"
    }
    
    ],
    "presets": [
    {
      "name": "Hero Two"
     
    }
  ]
    }
{% endschema %}