{{ 'section-main-product.css' | asset_url | stylesheet_tag }}

<div class="product-template container">
  {% render 'slider-product-card' %}

  <div class="product-description-container">
    <div class="product-title">
      <h1>{{ product.title }}</h1>
    </div>

    <div class="product-bottom">
      <div class="product-description">
        {{ product.description }}
      </div>
      {% render 'add-to-cart-form' %}
    </div>
  </div>
</div>
