/* START MINI CART */

.mini-cart.hidden {
    transform: translateX(100%);
}

.mini-cart.hidden::before {
    opacity: 0;
}

  
.mini-cart {
position: absolute;
top: 0;
right: 0;
bottom: 0;
height: 100vh;
width: 100%;
z-index: 99;
max-width: 350px;
background-color: white;
padding: 72px 25px 25px 25px;
transition-property: transform;
}

.mini-cart::before{
content: "";
width: 100%;
height: 100%;
position: absolute;
top: 0;
left: 0;
box-shadow: 0 4px 48px 36px rgba(0,0,0,0.25);
-webkit-box-shadow: 0 4px 48px 36px rgba(0,0,0,0.25);
-moz-box-shadow: 0 4px 48px 36px rgba(0,0,0,0.25);
transition-property: opacity;
z-index: -1;
}

.mini-cart, .mini-cart::before {
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(0.1, 0.7, 1.0, 0.1);
}

.cart-form {
height: 100%;
display: flex;
flex-direction: column;
justify-content: space-between;
}

.cart-button {
cursor: pointer;
position: relative;
transition: 0.15s;
z-index: 999;
}

.cart-button:hover .cart-arrow-icon {
    opacity: 1;
    right: 0;
}

.cart-arrow-icon {
opacity: 0;
width: 11.5px;
height: 12px;
position: absolute;
top: 5px;
right: -15px;
transition: 0.15s;
pointer-events: none;
}

.mini-cart-image-wrapper {
width: 140px;
margin-right: 25px;
}

.mini-cart-image-wrapper img{
width: 100%;
}

.mini-cart-rows{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    height: 100%;
    overflow: auto;
}

.mini-cart-item {
    display: flex;
    padding: 25px 0;
}

.mini-cart-item-right {
    flex: 1;
}